.booking-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 48px 0 24px 0;
}

/* Magnus V. - The login/logout-form is added here. The feature-handler-form is also added */
.booking-form,
.login-form,
.logout-form,
.feature-handler {
  display: flex;
  flex-direction: column;
  width: 360px;
  align-items: center;
  color: black;
}

label {
  font-size: 14px;
}

/* Magnus V. - The ID:s #user-name and #password from the login-field are added here */
#room,
#transferCode,
#depDate,
#arrDate,
button,
#user-name,
#password,
#feature-name,
#feature-price {
  width: 310px;
  height: 35px;
  margin: 1px 0 15px 0;
  text-indent: 5px;
  color: black;
  padding-inline-start: 0;
  border-radius: 0;
  border: 1px solid lightgray;
  font-size: 16px;
  outline: none;
}

button {
  cursor: pointer;
  background-color: white;
  border: 2px solid #012340;
  height: 50px;
  margin-top: 16px;
  width: 314px;
  border: 2px solid black;
}

button:hover {
  background-color: #012340;
  color: cornsilk;
}

#arrDate,
#depDate {
  text-indent: 5px;
  color: black;
  padding-inline-start: 0;
  border-radius: 0;
  position: relative;
  text-indent: 15px;
}

.label-container {
  display: flex;
  flex-direction: column;
  width: 312px;
  align-items: flex-start;
}

/* Magnus V. - this is used for login, logout and adding features */
.drop-down-field {
  height: auto;
  padding: 30px 5px 10px 5px;
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Magnus V - This is primarily used to toggle visibility for the login-field */
.active {
  display: block;
}

/* Magnus V. - These are for controling the layout of the drop-down-fields buttons |--- --- ---> */
.drop-down-field .button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.drop-down-field button {
  width: 312px;
}
/* <--- --- ---| */

::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-year-field {
  color: black;
}

::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 5px;
  cursor: pointer;
}

#transferCode {
  text-indent: 9px;
}

#room {
  box-sizing: content-box;
  text-indent: 9px;
  -webkit-appearance: none;
}

@media screen and (min-width: 900px) {
  .booking-section {
    margin-top: 48px;
    margin-right: auto;
    margin-left: auto;
    order: 3;
  }

  .booking-form {
    flex-direction: row;
    justify-content: center;
    width: auto;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .label-container {
    width: auto;
  }

  #room,
  #transferCode {
    width: 200px;
  }

  #depDate,
  #arrDate {
    width: 200px;
    margin-right: 24px;
  }

  button {
    width: 428px;
  }

  .break {
    flex-basis: 100%;
  }
}
